{% extends "../base.html" %}
{% load static %}
{% block title %}Basket{% endblock %}

{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="h5">Shopping Basket</h1>
        {% for item in basket %}
            {% with product=item.product %}
                <div class="row mb-4 border">
                    <div class="col-md-5 col-lg-5 order-md-first bg-light">
                        <img class="img-fluid mx-auto d-block" width="200px" src="{{ product.image.url }}" alt="Responsive image">
                    </div>
                    <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                        <h1 class="mb-0 h4">{{ product.title }}</h1>
                        <p><span class="lead">{{ product.author }}</span> (Author)</p>
                        <p>{{ product.description|slice:":355" }}...</p>
                        <div class="border">
                            <div class="col border-bottom">
                                <div class="row p-3">
                                    <div class="col-6">Hardback</div>
                                    <div class="col-6 text-end"><span class="h4 fw-bold">£{{ item.total_price }}</span></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row p-3">
                                    <div class="col-6">
                                        <label for="select">Qty</label>
                                        <select id="select">
                                            <option selected>
                                                {{item.qty}}
                                            </option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                        </select>
                                    </div>
                                    <div class="col-6 text-end">
                                        <button id="add-button" value="{{product.id}}" type="button" class="btn btn-secondary btn-sm">Update
                                        </button>
                                        <button id="delete-button" value="{{product.id}}" type="button" class="btn btn-secondary btn-sm">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        <div class="clo-12 text-end">
            <div class="h6 fw-bold">Sub Total: £<span id='subtotal'>{{basket.get_total_price}}</span></div>
        </div>
    </div>
</main>

{% endblock %}